@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --footer-bg: #09090b; /* bg-zinc-950 */
  --footer-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Oroya style is high contrast white background by default */
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
